*{margin:0padding:0;box-sizing:border-box;font-family:arial,sans-serif;}
body{line-height:1,6;}
/*navigation*/
nav{
    position:sticky;
    top:0;
    background:#2e7d32;
    display:flex;
    justify-content: center;
    z-index: 100;
}
nav a{
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}
nav a:hover{background: #66bb6a;}
/*section*/
section{
    padding: 80px 20px;

}
h1{
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    color: #2e7d32;
}
/*home*/

#home p{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;

}
/*about*/
#about p{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}
h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    color: #2e7d32;
}
/*cards*/
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card{
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}
.card:hover{
    transform: translateY(-5px);
}
/*skills*/
.skills-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.skill{
    background: #2e7d32;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
}
/*contact*/
form{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input,textarea{
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[input="submit"]{
    background: #2e7d32;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
input[type="submit"]:hover{
    background: #1b5320;
}
.map-container{
    max-width:800px;
    margin:40px auto 0 auto;
}
iframe{
    width:100%;
    border:none;
    border-radius:12px;
}
/*responsive*/
@media(max-width: 768px){
    header h1{
        font-size: 40px;
    }
    header p{
        font-size: 18px;
    }
    .card{
        width: 90%;
    }
}